.grid-container {
    width: 100%;
}

.funniest, .most-helpful {
    border-width: 5px 0 5px 0;
    border-style: solid;
    border-image: repeating-radial-gradient(#ffb700, #ffe091);
    border-image-slice: 1;
    border-radius: 20px;
}

.funny, .helpful {
    border-width: 0 0 5px 0;
    border-color: black;
    border-style: solid;
}

.funny-reviews, .helpful-reviews {
    width: 50%;
    height: 100%;
    color: #001529;
    padding: 15px;
    min-width: 0;
    margin: auto;
}

.review-text {
    display: block;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;;
    font-weight: 600;
    color: #001529;
}

pre {
    margin: 0 0 0 0;
    white-space: pre-wrap;
}

p {
    font-weight: 600;
    color: #001529;
}

h {
    width: 50px;
    color: #001529
}

@media only screen and (max-width: 414px) {
    .grid-container {
        width: 100%;
    }

    .funniest, .most-helpful {
        border-width: 5px 0 5px 0;
        border-style: solid;
        border-image: repeating-radial-gradient(#ffb700, #ffe091);
        border-image-slice: 1;
        border-radius: 20px;
    }
    
    .funny, .helpful {
        border-width: 0 0 5px 0;
        border-color: black;
        border-style: solid;
    }

    .funny-reviews, .helpful-reviews {
        width: 100%;
        height: 100%;
        color: #001529;
        padding: 15px;
        min-width: 0;
        margin: auto;
    }

    h1 {
        width: 100%;
        color: #001529
    }
}
