.funny-reviews, .helpful-reviews {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    color: #001529;
    border-radius: 20px;
    padding: 15px;
    min-width: 0;
    margin: auto;
}

.review-text {
    display: block;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;;
    font-weight: 600;
    color: #001529;
}

pre {
    margin: 0 0 0 0;
    white-space: pre-wrap;
}

p {
    font-weight: 600;
    color: #001529;
}

h {
    width: 50px;
    color: #001529
}

@media only screen and (max-width: 414px) {
    .funny-reviews, .helpful-reviews {
        width: 100%;
        height: 50%;
        border: 1px solid black;
        color: #001529;
        border-radius: 20px;
        padding: 15px;
        min-width: 0;
    }
}
