nav {
    display: flex;
    background-color: rgb(0, 21, 41);
    color: white;
    align-items: center;
    height: 70px;
}

.navs {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin-right: 30px;
    align-items: center;
    margin: 0;
}

.navs li {
  margin: 0 20px;
}

.navs li:not(.navs li:last-child){
  padding: 20px;
}

.navs li:last-child{
  margin-left: 40px;
}

.navs li:hover{
  background-color:rgba(0,0,0,0.5);
  border-radius: 0.5em;
}

.navs li a:hover {
  color: rgb(142, 241, 142) !important;  
}

.gradient {
    background-image: linear-gradient(to right, white, #001529);
    display: inline-block;
    width: 100%;
    height: 100vh;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.welcome {
  color: white;
}

.mt-n{
  margin-top: -1.5rem;
}


.logoo{
  box-shadow: inset 0 0 100px 1px, 0 0 500px 1px;
  border-radius: 800px;
  margin-bottom: 50px;
}

.logo:hover {
  animation: wobble 1s 1;
  animation-iteration-count:infinite;
}

.lb{
  font-size: x-large;
  margin-top: 20px;
}

.bt{
  margin-top: 20px;
  width: 50%;
}

.tutor-bt{
  margin: 100px;
}

.tutor{
  width: 100%;
  margin-top: 20px;
}

.tutor h1{
  font-size: 50px;
  margin-bottom: -30px;
}

.tutor-db{
  margin-top: 30px;
  margin-bottom: 20px;
}

.tutor-db-value-demo{
  color: greenyellow;
  font-weight: bolder;
  text-shadow: 0px 2px black;
  font-size: 30px;
}

.tutor-side-bar-demo{
  list-style-type: none;
  margin: 30px 0 10px 0;
  padding: 0;
  width: 50%;
  margin-left: 40%;
}

.tutor-side-bar-demo li button{
  display: block;
  color: white;
  padding: 8px 16px;
  width: 40%;
  background-color: rgb(0, 21, 41);
}

.tutor-side-bar-demo li button:hover{
  background-color: rgb(74, 182, 250);
}

.tutor-side-value-demo{
  color: greenyellow;
  font-weight: bolder;
  text-shadow: 0px 2px black;
}

@keyframes wobble {

  
  50% {
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}

@media only screen and (max-width: 575px) {
  .mobile_view{
    border: 1px solid;
    padding: 30px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
  }

  .navs li:last-child{
    margin-left: 0px;
  }

  
  .navs li:nth-child(2){
    margin-right: 40px;
    margin-left: -20px;
  }

  .tutor-side-bar-demo{
    width: 100%;
    margin-left: 25%;
  }
  
  .tutor-side-bar-demo li button{
    width: 50%;
    
  }

}