.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logoo{
  box-shadow: inset 0 0 100px 1px, 0 0 500px 1px;
  border-radius: 800px;
  margin-bottom: 50px;
}

.logo:hover {
  animation: wobble 1s 1;
  animation-iteration-count:infinite;
}

@keyframes wobble {

  
  50% {
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

